.DS_Store
Thumbs.db
node_modules/
.idea
/.pnp
.pnp.js
.pnp.cjs
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
yarn-error.log*
pnpm-lock.yaml
test.html
/docs/.vuepress/.cache/
/docs/.vuepress/dist/
/docs/.vuepress/.temp
*.js
!*.test.js
test.ts
*.d.ts
*.tsbuildinfo
!/toolbox/*
*.exe