//- https://blog.cyfan.top/p/c0af86bb.html#%E5%AE%89%E8%A3%85-Install
- var timeNow = new Date().getTime()
if theme.pwa.enable
    - var sworker = theme.pwa.serviceworker
    script(data-pjax async).
         if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/#{sworker}?time=#{timeNow}").then(async (reg) => {
                    if (window.localStorage.getItem('install') !== 'true') {
                        window.localStorage.setItem('install', 'true');
                        setTimeout(() => {
                            window.location.reload()
                        }, 500)
                    }
                }).catch(err => {
                console.log(err)
            });
            }
    link(rel="manifest" href=`/${theme.pwa.manifest}`)
