if page.copyright !== false
    - var ccIcon = '<i class="ic i-creative-commons"><em>(CC)</em></i>'
    - var ccText = theme.creative_commons.license.toUpperCase()
    div(id="copyright")
        ul
            li(class="author")
                strong
                    != __('post.copyright.author') + __('symbol.colon')
                != page.author || author
                i(class="ic i-at")
                    em @
                != title
            li(class="link")
                strong
                    != __('post.copyright.link') + __('symbol.colon')
                != _url(page.permalink, page.permalink, {title: page.title})
            li(class="license")
                strong
                    != __('post.copyright.license_title') + __('symbol.colon')
                != page.copyright !== true ? __('post.copyright.license_content', _url(ccURL, ccIcon + ccText)) : __("post.copyright.nocopy")
