if page.reward !== false
    div(class="reward")
        button
            i(class="ic i-heartbeat")
            != __('reward.donate')
        p
            != __('reward.text')
        div(id="qr")
            each image, name  in theme.reward.account
                - var builtin = ['wechatpay', 'alipay', 'paypal', 'bitcoin']
                if builtin.includes(name)
                    - var translation = __('reward.' + name)
                else
                    - var translation = name
                div
                    img(loading="lazy" data-src=`${url_for(theme.statics + theme.assets + image) }` alt=`${ author } ${ translation }`)
                    p
                        != translation
