- var hmSrc = `https://hm.baidu.com/hm.js?${ theme.visitor.baiduAnalytics }`
if theme.visitor.baiduAnalytics
    script(data-pjax=true).
        var _hmt = _hmt || [];
        (function () {
            const hm = document.createElement("script");
            hm.src = "#{hmSrc}"
            hm.async = true;
            const s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
         })();
