- var googleId = theme.visitor.googleAnalytics 
if googleId
    script(async, src=`https://www.googletagmanager.com/gtag/js?id=${ googleId }`)
    script(data-pjax=true).
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '#{googleId}');