script.
     WIDGET = {
        "CONFIG": {
            "modules": "012",
            "background": "5",
            "tmpColor": "var(--text-color);",
            "tmpSize": "16",
            "cityColor": "var(--text-color);",
            "citySize": "16",
            "aqiColor": "FFFFFF",
            "aqiSize": "16",
            "weatherIconSize": "24",
            "alertIconSize": "18",
            "padding": "10px 10px 10px 10px",
            "shadow": "0",
            "language": "auto",
            "borderRadius": "5",
            "fixed": "false",
            "vertical": "top",
            "horizontal": "left",
            "key": #{theme.qweather.key}
        }
     }

script.
    (function (d) {
        const c = d.createElement('link')
        c.rel = 'stylesheet'
        c.href = 'https://widget.qweather.net/simple/static/css/he-simple.css?v=1.4.0'
        const s = d.createElement('script')
        s.src = 'https://widget.qweather.net/simple/static/js/he-simple.js?v=1.4.0'
        const sn = d.getElementsByTagName('script')[0]
        sn.parentNode.insertBefore(c, sn)
        sn.parentNode.insertBefore(s, sn)
    })(document)
