@import "_variables";

if hexo-config('injects.variable')
  for $inject_variable in hexo-config('injects.variable')
    @import $inject_variable

@import "_mixins";

if hexo-config('injects.mixin')
  for $inject_mixin in hexo-config('injects.mixin')
    @import $inject_mixin;

if $colors = hexo-config('style.colors')
  @import $colors;
else
  @import "_colors";

if $_iconfont = hexo-config('style.iconfont')
  @import $_iconfont;
else
  @import "_iconfont";

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";

if $custom = hexo-config('style.custom')
  @import $custom;

if hexo-config('injects.style')
  for $inject_style in hexo-config('injects.style')
    @import $inject_style;

if $optimize = hexo-config('experiments.optimizeLongPosts')
  @import "optimize.styl"

