@import "_variables";

if hexo-config('injects.variable')
  for $inject_variable in hexo-config('injects.variable')
    @import $inject_variable

@import "_mixins";

if hexo-config('injects.mixin')
  for $inject_mixin in hexo-config('injects.mixin')
    @import $inject_mixin;

if $colors = hexo-config('style.colors')
  @import $colors;
else
  @import "_colors";

if $_iconfont = hexo-config('style.iconfont')
  @import $_iconfont;
else
  @import "_iconfont";

if $custom = hexo-config('style.custom')
  @import $custom;

