nav(id="nav")
    div(class="inner")
        div(class="toggle")
            div(class="lines" aria-label!=__('accessibility.nav_toggle'))
                span(class="line")
                span(class="line")
                span(class="line")
        ul(class="menu")
            li(class="item title")
                a(href=config.root rel="start")
                    != alternate || title
        ul(class="right" id="rightNav")
            li(class="item theme")
                i(class="ic i-sun")
            li(class="item search")
                i(class="ic i-search")
            != shokax_inject('rightNav')

