div(id="loading")
    div(class="cat")
        div(class="body")
        div(class="head")
            div(class="face")
        div(class="foot")
            div(class="tummy-end")
            div(class="bottom")
            div(class="legs left")
            div(class="legs right")
        div(class="paw")
            div(class="hands left")
            div(class="hands right")
