include postmeta.pug

mixin SMRender(item)
    if item.link
        - var postTitleIcon = '<i class="ic i-link-alt"></i>'
    - var postText = item.title || item.link || __('post.untitled')
    article(class="item")
        div(class="cover")
            != _url(item.link, '<img data-src="'+ _cover(item) +'">', {itemprop: 'url', title: postText})
        div(class="info")
            +PMRender(item)
            h3
                != _url(item.link, postText + (postTitleIcon || ''), {itemprop: 'url', title: postText})
            div(class="excerpt")
                if item.description
                    != item.description
                else if item.excerpt
                    != item.excerpt
                else
                    != truncate(escape_html(item.content),300)
            if item.categories.length > 0
                div(class="meta footer")
                    span
                        - var lastcat = item.categories.last()
                        != _url(lastcat.path, '<i class="ic i-flag"></i>' + lastcat.name, {itemprop: 'url', title: lastcat.name})
            != _url(item.link, 'more...', {itemprop: 'url', title: postText, class: 'btn'})

