include postmeta.pug

mixin SMRender(item, lazy)
    - var link1 = item.link || item.path
    - var gradient = theme?.experiments?.gradient
    if item.link
        - var postTitleIcon = '<i class="ic i-link-alt"></i>'
    - var postText = item.title || item.link || __('post.untitled')
    article(class="item")
        if gradient
            div(class="cover" style=`background: linear-gradient(to bottom right, ${random_color()}, ${random_color()});`)
        else
            div(class="cover")
                if lazy
                    != _url(link1, '<img loading="lazy" decoding="async" data-src="'+ _cover(item) +'" alt="article cover">', {itemprop: 'url', title: postText})
                else
                    != _url(link1, '<img loading="eager" decoding="async" src="'+ _cover(item) +'" alt="article cover">', {itemprop: 'url', title: postText})
        div(class="info")
            +PMRender(item)
            h3
                != _url(link1, postText + (postTitleIcon || ''), {itemprop: 'url', title: postText})
            div(class="excerpt")
                if item.description
                    != item.description
                else if item.excerpt
                    != item.excerpt
                else
                    != _truncate(escape_html(_striptags(item.content)),300)
            if item.categories.length > 0
                div(class="meta footer")
                    span
                        - var lastcat = item.categories.last()
                        != _url(lastcat.path, '<i class="ic i-flag"></i>' + lastcat.name, {itemprop: 'url', title: lastcat.name})
            != _url(link1, 'more...', {itemprop: 'url', title: postText, class: 'btn'})

