mixin field(item)
    if item.link
        - var postTitleIcon = '<i class="ic i-link-alt"></i>'
    li(class="item")
        +BCRender(item, false)
        - var postText = item.title || item.link || __('post.untitled')
        - var link1 = item.link || item.path
        span
            != _url(link1, postText + (postTitleIcon || ''))

mixin WRender(item)
    - var tk = theme?.twikoo?.enable
    - var waline = theme.waline.enable
    if theme.widgets.random_posts
        div(class="rpost pjax")
            h2
                != __('index.random_posts')
            ul
                - var posts = site.posts.shuffle().limit(10).toArray()
                each item in posts
                    +field(item)
    if theme.widgets.recent_comments
        div(class="rpost pjax")
            h2
                != __('index.recent_comments')
            if tk || waline
                ul(class="leancloud-recent-comment" id="new-comment")

