mixin item(name, path, parent)
    - console.log(path)
    - var trimn = (str)=>{if (str!=null) return str.trim(); else return ""}
    - var path = path.split('||')
    - var itemURL = path[0].trim()
    - console.log(itemURL)
    - if (!itemURL.startsWith('http')){ itemURL = itemURL.replace('//', '/') }
    - var menuIcon = '<i class="ic i-' + trimn(path[1]) + '"></i>'
    - var menuText = __('menu.' + name).replace('menu.', '')
    if parent
        li(class="item dropdown")
            if itemURL === '/'
                a(href="javascript:void(0);")
                    != menuIcon + menuText
            else
                != _url(full_url_for(itemURL), menuIcon + menuText, {rel: 'section'})
            <ul class="submenu">
    else
        li(class="item")
            != _url(full_url_for(itemURL), menuIcon + menuText, {rel: 'section'})

each value, name in theme.menu
    if value == '[object Object]'
        each subvalue, subname in value
            if subname === 'default'
                +item(name, subvalue, true)
            else
                +item(subname, subvalue)
        </ul>
    else
        +item(name, value)
